body{
    background-color: #3c6382;
    margin: 0;
    padding: 0;
  }
  
  a{
    text-decoration: none !important;
  }
  
  /* styling navigation bar */
  .nav{
    background-color: #000000;
  }
  
  .logo{
    padding: 10px;
    margin-left: 45px;
  }
  
  .logo a{
    text-decoration: none;
    color: #7f8c8d;
    font-size: 30px;
    font-style: oblique;
    letter-spacing: -.5px;
  }
  
  .logo p>span{
  font-size: 30px;
  color: #2980b9;
  }
  
  .logo p:hover{
  color: #ffffff !important;
  }
  
  
  .menu{
    position: absolute;
    margin-left: 900px;
    display: flex;
  }
  
  .menu-pages{
    display: flex;
    padding-top: 23px;
    margin-right: 5px;
    list-style: none;
  }
  
  .menu-pages li a{
    text-decoration: none;
    color: #ffffcc;
  }
  
  .menu-pages li a:hover{
    color: #27ae60;
  }
  
  .active{
    color: #27ae60 !important;
  }
  
  .menu-pages li:nth-child(2){
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .menu-pages li:nth-child(3){
    padding-right: 20px;
  }
  
  .header_profile img{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin-top: 9px;
  }
  
  .log-out{
    padding-top: 23px;
    margin-left: -15px;
    list-style: none;
  }
  
  .log-out li a{
    text-decoration: none;
    color: #ffffcc;
  }
  
  .log-out li a:hover{
    color: #27ae60;
  }
  /* end navigation bar */
  
  .main-user-dash{
    display: flex;
    width: 100%;
    /* position: absolute; */
    margin-bottom: 10px;
  
  }

  /* side bar styles */

  .user-services{
    background-color: #353b48;
    /* width: 300px; */
    width: 25%;
  
  }
  
  .user-profile{
    margin: auto;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .user-profile img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  
  .service-part ul{
    margin-left: -40px;
  }
  
  .service-part ul li{
    padding-left: 0;
    list-style: none;
    padding: 15px 0;
    border-top: 1px solid #2f3640;
    width: 100%;
    border-left: 3px solid #353b48;
  }
  .service-part ul li:last-child{
    border-bottom: 1px solid #2f3640;
  }
  
  .service-part ul li:hover{
    border-left: 3px solid #27ae60;
  }
  
  .active-service{
    border-left: 3px solid #27ae60 !important;
  }
  
  .service-part ul li i{
    color: #bdc3c7;
    margin-right: 10px;
    padding-left: 10px;
  }
  
  .service-part ul li a{
    text-decoration: none;
    color: #bdc3c7;
  }
  
  /* end side bar */

/* abou service */

.about-service{
    width: 75%;
    background-color: #dcdde1;
}

.apps h2{
    font-size: 20px;
    margin-left: 30px;
}

.col-md-2{
    background: #ffffff !important;
    margin-top: 5px;
    margin-left: 20px;
    position: relative;
    color: #8e8b8b;
}

.col-md-2:hover{
    box-shadow: 0px 0px 15px rgba(0,0,0,.3);
}

.col-md-2 img{
    border-radius: 50%;
    background-color: #ffffff;
    width: 100%;
    height: 150px;
}

.rating{ 
    padding: 3px;
    float: left;
    background: #fff;
    bottom: -1px;
}

.rating .fas,
.rating .far{
    font-size: 13px;
    color: #ff5722;
  }
  
/* end about servise */