body{
  background-color: #3c6382;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.nav{
  background-color: #000000;
}

.logo{
  padding: 10px;
  margin-left: 45px;
}

.logo a{
  text-decoration: none;
  color: #7f8c8d;
  font-size: 30px;
  font-style: oblique;
  letter-spacing: -.5px;
}

.logo p>span{
font-size: 30px;
color: #2980b9;
}

.logo p:hover{
color: #ffffff !important;
}


.menu{
  position: absolute;
  margin-left: 900px;
  display: flex;
}

.menu-pages{
  display: flex;
  padding-top: 23px;
  margin-right: 5px;
  list-style: none;
}

.menu-pages li a{
  text-decoration: none;
  color: #ffffcc;
}

.menu-pages li a:hover{
  color: #27ae60;
}

.active{
  color: #27ae60 !important;
}

.menu-pages li:nth-child(2){
  padding-left: 15px;
  padding-right: 15px;
}

.menu-pages li:nth-child(3){
  padding-right: 20px;
}

.header_profile img{
  height: 55px;
  width: 55px;
  border-radius: 50%;
  margin-top: 9px;
}

.log-out{
  padding-top: 23px;
  margin-left: -15px;
  list-style: none;
}

.log-out li a{
  text-decoration: none;
  color: #ffffcc;
}

.log-out li a:hover{
  color: #27ae60;
}

.main-body{
  margin-left: 45px;
  margin-right: 45px;
}

.get-app{
  background-color: #ffffff !important;
}

.get-app img{
  width: 100%;
  height: 400px;
}

.get-app h3{
  position: absolute;
  margin-top: -370px;
  margin-left: 60px;
  color: #0a3d62;
  display: block;
  font-size: 30px;
}

.get-app p{
  position: absolute;
  margin-top: -330px;
  margin-left: 60px;
  width: 540px;
  display: block;
  font-size: 23px;
}

.mobile-app{
  position: absolute;
  margin-top: -175px;
  margin-left: 150px;
  width: 540px;
  display: block;
}

.mobile-app a{
	font-family: 'Open Sans Condensed', arial;
  text-decoration: none;
  padding: 20px 30px;
  background-color: #4D4D4D;
  border-radius: 30px;
  color: #fff;
}

.mobile-app a:hover{
	/* background:linear-gradient(to bottom, #4D4D4D 5%, #4D4D4D 100%); */
	background-color: #33cc33;
  transition: 2s;
}

.mobile{
  position: relative;
  float: right;
  margin-top: -350px;
  margin-right: 50px;
}

.mobile img{
  width: 200px;
  height: 350px;
}

.main-user-dash{
  display: flex;
  width: 100%;
  /* position: absolute; */
  margin-bottom: 10px;

}


/* side bar styles */
.user-services{
  background-color: #353b48;
  /* width: 300px; */
  width: 25%;

}

.user-profile{
  margin: auto;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-profile img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.service-part ul{
  margin-left: -40px;
}

.service-part ul li{
  padding-left: 0;
  list-style: none;
  padding: 15px 0;
  border-top: 1px solid #2f3640;
  width: 100%;
  border-left: 3px solid #353b48;
}
.service-part ul li:last-child{
  border-bottom: 1px solid #2f3640;
}

.service-part ul li:hover{
  border-left: 3px solid #27ae60;
}

.active-service{
  border-left: 3px solid #27ae60 !important;
}

.service-part ul li i{
  color: #bdc3c7;
  margin-right: 10px;
  padding-left: 10px;
}

.service-part ul li a{
  text-decoration: none;
  color: #bdc3c7;
}

/* end side bar */

.about-service{
  width: 75%;
  background-color: #f5f6fa;
}

.account-info{
  margin-left: 15px;
  margin-top: 45px;
}

.account-info h2{
    color: var(--glue-gray-10);
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -.5px;
    line-height: 40px;
    margin: 0 0 12px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 25px;
}


.account-info table{
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  background-color: transparent;
  box-sizing: border-box;
  display: table;
  margin-bottom: 25px;
}

.account-info table td{
  border-bottom: 1px solid #d9dadc;
  padding: 15px 0;
}

.account-info table td:nth-child(1){
  color: #636e72;
}

.account-info table td:nth-child(2){
  color: #000000;
}

.edit-profile{
    text-decoration: none !important;
    background-color: hsla(0,0%,100%,.3);
    border: 2px solid #757575;
    color: #757575;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    padding: 1em 3em;
    margin-left: 50px;
    border-radius: 30px;
    margin-bottom: 30px;
}

.edit-profile:hover{
  color: var(--glue-gray-10);
  border: 2px solid #000000;
}

.statistic{
  margin-top: 25px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.statistic img{
  width: 100%;
  height: 400px;
}
