body{
    background-color: #3c6382;
    margin: 0;
    padding: 0;
  }
  
  a{
    text-decoration: none !important;
  }
  
  .nav{
    background-color: #000000;
  }
  
  .logo{
    padding: 10px;
    margin-left: 45px;
  }
  
  .logo a{
    text-decoration: none;
    color: #7f8c8d;
    font-size: 30px;
    font-style: oblique;
    letter-spacing: -.5px;
  }
  
  .logo p>span{
  font-size: 30px;
  color: #2980b9;
  }
  
  .logo p:hover{
  color: #ffffff !important;
  }
  
  
  .menu{
    position: absolute;
    margin-left: 900px;
    display: flex;
  }
  
  .menu-pages{
    display: flex;
    padding-top: 23px;
    margin-right: 5px;
    list-style: none;
  }
  
  .menu-pages li a{
    text-decoration: none;
    color: #ffffcc;
  }
  
  .menu-pages li a:hover{
    color: #27ae60;
  }
  
  .active{
    color: #27ae60 !important;
  }
  
  .menu-pages li:nth-child(2){
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .menu-pages li:nth-child(3){
    padding-right: 20px;
  }
  
  .header_profile img{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin-top: 9px;
  }
  
  .log-out{
    padding-top: 23px;
    margin-left: -15px;
    list-style: none;
  }
  
  .log-out li a{
    text-decoration: none;
    color: #ffffcc;
  }
  
  .log-out li a:hover{
    color: #27ae60;
  }
  
  .main-body{
    margin-left: 45px;
    margin-right: 45px;
  }
  
  .main-user-dash{
    display: flex;
    width: 100%;
    /* position: absolute; */
    margin-bottom: 10px;
  
  }
  
  
  /* side bar styles */
  .user-services{
    background-color: #353b48;
    /* width: 300px; */
    width: 25%;
  
  }
  
  .user-profile{
    margin: auto;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .user-profile img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  
  .service-part ul{
    margin-left: -40px;
  }
  
  .service-part ul li{
    padding-left: 0;
    list-style: none;
    padding: 15px 0;
    border-top: 1px solid #2f3640;
    width: 100%;
    border-left: 3px solid #353b48;
  }
  .service-part ul li:last-child{
    border-bottom: 1px solid #2f3640;
  }
  
  .service-part ul li:hover{
    border-left: 3px solid #27ae60;
  }
  
  .active-service{
    border-left: 3px solid #27ae60 !important;
  }
  
  .service-part ul li i{
    color: #bdc3c7;
    margin-right: 10px;
    padding-left: 10px;
  }
  
  .service-part ul li a{
    text-decoration: none;
    color: #bdc3c7;
  }
  
  /* end side bar */
  
  .about-service{
    width: 75%;
    background-color: #f5f6fa;
    padding-bottom: 20px;
  }
  
  .container-posts{
      display: flex;
      flex-wrap: wrap;
  }
  
  .post-show{
      background: #ffffff !important;
    padding: 20px;
    margin-top: 30px;
    line-height: 20px;
    position: relative;
    color: #8e8b8b;
    box-shadow: 0px 0px 15px rgba(0,0,0,.3);
    margin-left: 40px;
  }
  
  
  .company-name{
      color: #27ae60;
      font-size: 20px;
      text-decoration: none !important;
      text-transform: uppercase;
      margin-left: 40px;
  }
  
  .time-counter{
      list-style: none;
      color: #2c3e50;
  }
  
  .comment{
      padding: 10px;
      background-color: #636e72;
      border-radius: 3px;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 15px;
  }
  
  .comment:hover{
      padding: 10px;
      background-color: #b2bec3;
      border-radius: 3px;
      color: #ffffff !important;
      text-transform: uppercase;
      font-size: 15px;
  }
  
  .aplly{
      float: right;
  }
  
  .aplly a{
      padding: 10px;
      background-color: #2980b9;
      border-radius: 3px;
      color: #ffffff;
      text-transform: uppercase;
  }
  
  .comment-user{
    width: 55px;
    height: 55px;
    border-radius: 50%;
  }
  
  .comments{
    padding: 5px;
    text-indent: 10px;
    border-radius: 15px;
    background-color: #bdc3c7;
    color: #000000;
  }
  
  .from_admin{
    background-color: #7f8c8d;
    color: #fff;
    text-align: center;
    border-radius: 10px;
  }

  .notification-table{
    box-shadow: 2px 2px 5px 5px #7f8c8d;
    margin-left: 3em;
    margin-top: 3em;
    padding-top: 10px;
    width: 1400px;
  }

  /* .notification-table table{
      width: 100%;
  } */