*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header{
  width: 100vw;
  height: 10vh;
  background-color: #192a56;
}

.logo{
  padding-top: 10px;
  color: #ffffcc;
  font-size: 25px;
}

.logo span:nth-child(1){
  text-transform: uppercase;
  font-size: 35px;
  color: 	#2E8B57;
}

.logo span:nth-child(6){
  text-transform: uppercase;
  font-size: 35px;
  color: 	#2E8B57;
}

.main-content{
  font-family: 'Open Sans Condensed', arial, sans;
	width: 900px;
	padding: 30px;
	background: #bdc3c7;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.private-policy h2{
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Poppins-SemiBold";
  text-align: center;
  color: #2c3e50;
  margin-bottom: 28px;
}

.private-policy ol li{
  padding-bottom: 10px;
  font-style: italic;
  font-family: 'Open Sans Condensed', arial;
}

/* .for-more {
  margin-left: 5px;
} */

.accept p{
  margin-top: 10px;
	text-align: center;
	color: #777;
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

.accept p a
{
	text-decoration: none;
	color: #0652DD;
}


.for-more p{
  margin-left: 10px;
  margin-top: 10px;
	text-align: center;
	color: #777;
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

.for-more p a
{
	text-decoration: none;
	color: #2980b9;
}
