*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
.signin_form{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 100%;
    padding: 30px;
    background: #FFFFFF;
    margin-top: 100px;
    border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    margin-bottom: 15px;
    /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */
    /* border-bottom: 3px solid rgba(0, 0, 0, 0.13); */
  }

.signin_form h2{
    background: #2c3e50;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
    margin: -30px -30px 30px -30px;
    text-align: center;
      margin-bottom: 28px;
      font-family: 'Tangerine', 'serif'; 
  }
  
  .input {
    color: #333;
    font-size: 16px;
    border: 1px solid #333;
    border-top: none;
    border-right: none;
    border-left: none;
    display: block;
    width: 100%;
    height: 30px;
    padding: 0;
    margin-bottom: 25px;
  }
  
 
  .input:focus{
     outline: none;
    border-bottom: 2px solid #27ae60;
  }
  
.signin_form input[type="submit"] {
    border: none;
    width: 150px;
    height: 40px;
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #333;
    font-size: 15px;
    color: #fff;
    vertical-align: middle;
    border-radius: 5px;
  }
  .signin_form input[type="submit"]:hover {
    background:linear-gradient(to bottom, #4D4D4D 5%, #4D4D4D 100%);
    background-color:#4D4D4D;
    transition: 2s;
  }
  
.forget-password{
	text-decoration: none;
	color: #777;
	margin-top: 10px;
    margin-left: 30px;
	font-weight: bold;
	display: block;
}
.forget-password:hover
{
	text-decoration: none;
	color: #3498db;
	transition: 0.5s;
}

.forget-signup h4
{
  margin-top: 10px;
  margin-left: 40px;
	text-align: center;
	color: #777;
    font-size: 16px;
}
.forget-signup h4 a{
    text-decoration: none;
	color: #BE5869;
}