*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* background-color: #ecf0f1; */
}

.header{
  width: 100vw;
  height: 10vh;
  background-color: #192a56;
}


.signup-form{
  font-family: 'Open Sans Condensed', arial, sans;
	width: 100%;
	padding: 30px;
  background: #FFFFFF;
  margin-top: 15px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
  margin-bottom: 15px;
}


input, textarea, select {
	font-family: 'Open Sans Condensed', arial, sans;
  color: #333;
  font-size: 16px;
}

:focus {
  outline: none;
}

.signup-form h1{
	/* background: #333;
	text-transform: uppercase;
  text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	padding: 20px;
	margin: -30px -30px 30px -30px; */
  text-transform: uppercase;
    font-size: 25px;
    /* font-family: "Poppins-SemiBold"; */
    text-align: center;
    margin-bottom: 28px;
    font-family: 'Tangerine', 'serif';
}

.input-group {
  display: flex;
}
/* .input-group input {
    width: 50%;
}
.input-group input:first-child {
      margin-right: 25px;
} */

.input {
  border: 1px solid #333;
  border-top: none;
  border-right: none;
  border-left: none;
  display: block;
  width: 100%;
  height: 30px;
  padding: 0;
  margin-bottom: 25px;
}

.input::-webkit-input-placeholder {
    font-size: 16px;
    color: #333;
    font-family: "Poppins-Regular";
}

.input::-moz-placeholder {
    font-size: 16px;
    color: #333;
    font-family: "Poppins-Regular";
}

.input:-ms-input-placeholder {
    font-size: 16px;
    color: #333;
    font-family: "Poppins-Regular";
}

.input:-moz-placeholder {
    font-size: 16px;
    color: #333;
    font-family: "Poppins-Regular";
}

.input:focus{
  border-bottom: 2px solid #27ae60;
  /* transition: 2s; */
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  padding-left: 20px; }
  select option[value=""][disabled] {
    display: none;
}

.signup-form input[type="submit"] {
  border: none;
  width: 164px;
  height: 51px;
  margin: auto;
  margin-top: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #333;
  font-size: 15px;
  color: #fff;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  button i {
    margin-left: 10px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); }
  button:hover i, button:focus i, button:active i {
    -webkit-animation-name: hvr-icon-wobble-horizontal;
    animation-name: hvr-icon-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.signup-form input[type="submit"]:hover {
	background:linear-gradient(to bottom, #4D4D4D 5%, #4D4D4D 100%);
	background-color:#4D4D4D;
  transition: 2s;
}

.private-signin h3
{
  margin-top: 10px;
	text-align: center;
	color: #777;
  font-size: 16px;
}

.private-signin h3 a
{
	text-decoration: none;
	color: #2980b9;
}

.private-signin h4
{
  margin-top: 10px;
  margin-left: 40px;
	text-align: center;
	color: #777;
  font-size: 16px;
}

.private-signin h4 a
{
	text-decoration: none;
	color: #BE5869;
}

  /* @-webkit-keyframes hvr-icon-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px); }
    33.3% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px); }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px); }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px); }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px); }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0); } }
  @keyframes hvr-icon-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px); }
    33.3% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px); }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px); }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px); }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px); }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0); } }
  @media (max-width: 1199px) {
    .wrapper {
      background-position: right center; } }
  @media (max-width: 991px) {
    .inner form {
      padding-top: 10px;
      padding-left: 30px;
      padding-right: 30px; } }
  @media (max-width: 767px) {
    .inner {
      display: block; }
      .inner .image-holder {
        width: 100%; }
      .inner form {
        width: 100%;
        padding: 40px 0 30px; }

    button {
      margin-top: 60px; }
  } */
