*{
  padding: 0;
  margin: 0;
}


.header{
  width: 100vw;
  height: 10vh;
  background-color: #192a56;
}

.logo{
  padding-top: 10px;
  color: #ffffcc;
  font-size: 25px;
}

.logo span:nth-child(1){
  text-transform: uppercase;
  font-size: 35px;
  color: 	#2E8B57;
}

.logo span:nth-child(6){
  text-transform: uppercase;
  font-size: 35px;
  color: 	#2E8B57;
}

.main-content{
  width: 900px;
  margin: auto;
  border: 3px solid #34495e;
  border-radius: 10px;
  margin-top: 50px;
}

.user-logo-img{
  margin: auto;
  height: 200px;
  width: 200px;
  margin-top: 50px;
}

.user-logo-img img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.welcome-user{
  margin-left: 20px;
  padding-bottom: 30px;
  font-size: 18px;
}

.welcome-user h3{
  padding-top: 5px;
  text-align: center;
  padding-bottom: 5px;
}

.welcome-user p{
  margin-left: 50px;
}

.welcome-user p > span{
  text-transform: uppercase;
  color: #2c3e50;
  margin-left: 200px;
}

.btn-usr-category{
  margin: auto;
  color: #34495e;
  width: 500px;
  text-align: center;
}

.btn-usr-category div{
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.btn-cat a{
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  background-color:	#2c3e50;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
	border-bottom: 5px solid 	#34495e;
}

.btn-cat a:hover{
  transition: 2s;
	background: 	#95a5a6;
  color: #ffffcc;
}
