body{
    font-family: 'Saira Condensed', sans-serif;
}
.navbar{
    position: sticky;
    top: 0;
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   height: 93px;
   background: #FFFFFF;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar h1{
    width: 94px;
    height: 54px;
    font-weight: normal;
    font-size: 34px;
    line-height: 54px;
    font-family: 'Saira Condensed', sans-serif;
    font-style: italic;
}

.navbar h1 span{
font-weight: normal;
font-size: 34px;
line-height: 54px;
color: #2980B9;
}
.navbar ul{margin-right: 4em;}
.navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    padding: 0.4em;
    margin-left: 1em;
    padding-left: 2em;
    padding-right: 2em;
}
.navbar ul li{
    display: inline-block;
    font-family: 'Saira Condensed', sans-serif;
}

.navbar ul li a:hover{
    background: #34495e;
    color: #fff;
}
#actions{
    background: #34495e;
    padding: 0.4em;
    margin-left: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border: none;
    border-radius: 5px;
    color: #fff;
}

#actions:hover{
    background: #bdc3c7;
    color: #34495e;
    transition: ease-in-out 0.6s;
}
.body{
    display: flex;
    flex-wrap: wrap;
}
.sidebar{
    background: url("../images/admin-signup.jpg");
    width: 30%;
    height: 678px;
    background-size: cover;
}
.admin-form{
width: 70%;
height: 678px;
background: #ECF0F1;
}
.admin-form .headers{
width: 525px;
height: 52px;
margin: 4em;
margin-left: 13em;
background: #7F8C8D;
}

.admin-form .headers h1{
    font-weight: 300;
    padding-top: 5px;
    color: #fff;
    font-size: 21px;
    line-height: 33px;
    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
}

.admin-form .description p{
    font-size: 21px;
    line-height: 33px;
    font-family: 'Saira Condensed', sans-serif;
    margin-right: 3em;
    margin-left: 4em;
}
.admin-form form{margin-left: 12em;margin-top: 5em;}
.admin-form form i{
    background: #34495e;
    padding: 0.8em;
    margin-right: -0.2em;
    color: #fff;
    padding-right: 1.4em;
}

.admin-form form input{
    width: 40%;
    height: 3em;
    border: none;
    margin-bottom: 2em;
    padding-left: 14px;
}
.submit{
width: 300px;
margin-left: 2em;
height: 44px;
color: #fff;
background: #34495E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.submit:hover{
    transition: ease-in-out 0.6s;
    background: #bdc3c7;
    color:#34495E; 
}

.statusmsg{
    color: #27ae60;
    font-family: 'Saira Condensed', sans-serif;
    margin-top: -2em;
    font-size: 1.5em;
    margin-bottom: 2em;
    text-align: center;
}

#company_desc{
    border: 3px solid #27ae60;
    border-radius: 12px;
    color: #27ae60;
    font-family: 'Saira Condensed', sans-serif;
    margin-top: 2em;
    outline: none;
    padding: 10px;
    font-weight: 400;
}