*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #bdc3c7;
}

a{
    text-decoration: none !important;
}

.nav{
    width: 100%;
    background: #000000;
}

.logo{
    padding: 10px;
    margin-left: 30px;
}

.logo p{
    color: thistle;
    font-size: 30px;
    font-style: italic;
}

.logo p span{
    color: #2980b9;
    font-size: 33px;
}

.nav-buttons{
    /* float: right; */
    margin-left: 700px;
    margin-top: 25px;
}

.nav-buttons ul{
    display: flex;
    list-style: none;
}

.nav-buttons ul li{
    padding-left: 15px;
}

.nav-buttons ul li a{
    color: #ffffff;
    font-size: 18px;
}

.active-nav-btn a{
    color: #3498db !important;
}

.nav-buttons ul li a:hover{
    color: #3498db !important;
}

/* ========================= APPLICATION FORM ==================================== */
.application-form{
    background-color: #ffffff;
    padding: 20px;
    margin-top: 15px;
    /* box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0  0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3); */
}

.application-form{
	max-width:100%;
	margin:50px auto;
	background:#fff;
	border-radius:2px;
	padding:20px;
	font-family: Georgia, "Times New Roman", Times, serif;
    box-shadow: -1px 3px 17px -4px #000000;
}
.application-form h2{
	display: block;
	text-align: center;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: #5C5C5C;
	font-size:x-large;
}
.application-form span{
  display: block;
  margin-top: 1.5em;
  color: #636e72;
	text-shadow: 2px 2px 6px #EBEBEB;
}
.application-form .input{
  width: 95%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 2px 2px 6px #EBEBEB;
	-moz-box-shadow: 2px 2px 6px #EBEBEB;
	-webkit-box-shadow: 2px 2px 6px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
    outline: none;
}

.application-form .input:focus{
  outline: none;
	border: 1px solid #44bd32;
}

.application-form .input:last-child{
  margin-bottom: 1.5em;
}

.inpt-file{
    padding: 10px !important;
    background: #34495e !important; 
    display: table !important;
    color: #ffffff !important;
    border-radius:5px !important;
}

.inpt-file:hover{
	cursor:pointer;
    background: #2c3e50;
    color: #fff !important;
}

input[type="file"] {
    display: none;
}

.apply{
    border: none;
    margin-top: 15px;
   /* margin-left: 125px; */
	padding: 8px 15px 8px 15px;
	background: #0984e3;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
      background: #e1b12c;
      color: #fff;
      box-shadow: 1px 1px 4px #DADADA;
      -moz-box-shadow: 1px 1px 4px #DADADA;
      -webkit-box-shadow: 1px 1px 4px #DADADA;
      border-radius: 3px;
}