body{
	background-color: #ecf0f1;
	margin-top: -1em;
	padding-bottom: 3em;
}
.headers{
	background-color: #2c3e50;height: 10%;display: flex;flex-wrap: wrap;border-bottom: 1em solid #3c88d4;position: sticky;top: 0px;margin-left: -1em;padding-left: 2em;padding-top: 10px;
}
.dash{width: 40px;height: 50px;}
.headers h1{
	color: #f4f8fc;text-align: left;font-size: 1.7em;margin-top: -0.1em;font-family: 'Tangerine', serif;
}
.manage_title h1{
	text-align: right;color: #dbeaf5;font-family: 'Yantramanav', sans-serif;text-transform: capitalize;margin-left: 3em;
}
.user_id{
   margin-left: 20em;
}
.user_id h1{
	font-family: 'Yantramanav', sans-serif;
}
.images{margin-left: 19em;margin-top: -4em;padding-left: 4em;}
.dinamic_header::before{
	font-family: 'Khand', sans-serif;content: "Hello Admin";font-size: 1.5em;color: #7f8c8d;text-align: center;margin-left: 10em;animation: dinamic 10s 2s infinite;}
@keyframes dinamic{
	10%{content: "Hello Admin";}
	20%{content: "Here on this dashboard you can ";}
	50%{content: "read all cvs of applicants,";}
	70%{content: "publishing the winning one";}
	80%{content: "And others............";}
}
.applicant_images{width: 120px;margin-top: 8px;margin-left: 6px;border: none;border-radius: 40%;}
.col-lg-8{box-shadow: 8px 5px 6px 2px #7f8c8d;float: left;}
.name{font-family: 'Allerta Stencil', sans-serif;font-size: 1.3em;color: #4687b3;}
.message{border: none;border-radius: 3em/1em;background: #34495e;padding: 1.4em;color: azure;font-family: 'Khand', sans-serif;}
.applicant_email{color: #34495e;font-family: 'Oleo Script', cursive;font-size: 1.4em;}
.number{font-family: 'Palanquin', sans-serif;color: #2980b9;}
.button-applicant{background:#27ae60;border: none;color: white;
	width: 20%;margin-bottom: 2em;	height: 50px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;margin-left: 10px;font-size: 1.2em;cursor: pointer;border: none;}
.button-applicant:hover{background: #2c3e50;transition: ease-in-out 0.4s;}
.main-content{margin-bottom: 5em;}
.sidenav {
	height: 100%;width: 0;position: fixed;z-index: 1;top: 0;left: 0;background: #0b629c;overflow-x: hidden;transition: 0.5s;padding-top: 60px;text-align:center; }
  
  .sidenav a {
	padding: 8px 8px 8px 32px;text-decoration: none;font-size: 25px;color: #818181;display: block;transition: 0.3s; }
  
  .sidenav a:hover{
	color: #f1f1f1; }
  
  .sidenav .closebtn {
	position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
  }
button a{text-decoration: none;color: beige;}
.closebtn:hover{transform: rotate(360deg);}
.textarea{font-family: 'Palanquin', sans-serif;}
.btn-hover-green{font-size: 1.4em;background: linear-gradient(to right,#7ab3da,#409ddb,#2980b9,#2980b9);outline: none;border:none;color: white;cursor: pointer;height: 2em;margin-left: 3em;border: none;border-radius: 10px;margin-bottom: 1em;}
.btn-hover-green:hover{background: #2980b9;transition: ease-in-out 0.6s;box-shadow: 5px 3px 4px 0px #7f8c8d;}
#contact{box-shadow: 7px 6px 6px 5px #7f8c8d;width: 30%;margin-left: 6em;display: none;}
#contact textarea{margin-left: 2em;margin-top:2.5em;padding: 0.3em;font-family: 'Palanquin', sans-serif;
	color: #34495e;}
.other_part{background: oldlace;width: 90%;margin-left: 1em;margin-bottom: 3em;display: flex;flex-wrap: wrap;font-family: 'Viga', sans-serif;}
.sidebar_header{color: oldlace;font-family: 'Khand', sans-serif;}
.appl_images{width: 120px;border: none;border-radius: 100%;}
.appl_email{font-family: 'Khand', sans-serif;text-align: left;}
.messages{font-family: 'Palanquin', sans-serif;text-align: left;margin-left: 1em;}
.part1{width: 70%;}
