video{
    background:#000;
    float:left;
    width: 45%;
    border:3px solid #f00;
    margin:5px;border-radius: 10px;
}
hr{
    clear:both;
}
.hide{
    display:none;
}
.root .showincall{
}
.root .hideincall{
    display:block; 
}
.root.incall .showincall{
    display:block; 
}
.root.incall .hideincall{
}
.callbtns button{
    float:left;
    margin:5px;
    margin-top:0px;
    margin-bottom:10px;
}
.callbtns button:hover{
    background: #d35400;transition: ease-in-out 0.4s
}
#log{
    color:#000
}
.status{
    color:#272;
    font-weight:bold;
}
.note{
    background:#eee;
    padding:1px 10px;
    margin:5px;
    border-radius:5px;
    text-align:justify;
}
.header{color: #34495e;text-align: center;}
.manage_title h1{font-family: 'Black Ops One', cursive;}