*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none !important;
}

.nav{
    width: 100%;
    background: #000000;
}

.logo{
    padding: 10px;
    margin-left: 30px;
}

.logo p{
    color: thistle;
    font-size: 30px;
    font-style: italic;
}

.logo p span{
    color: royalblue;
    font-size: 33px;
}

.nav-buttons{
    /* float: right; */
    margin-left: 700px;
    margin-top: 25px;
}

.nav-buttons ul{
    display: flex;
    list-style: none;
}

.nav-buttons ul li{
    padding-left: 15px;
}

.nav-buttons ul li a{
    color: #ffffff;
    font-size: 18px;
}

.nav-buttons ul li a:hover{
    color: #2ecc71;
}

.mainbody{
    display: flex;
    width: 100%;
}

.functionalities{
    width: 25%;
    background-color: #353b48;
}

.admin-functionalities{
    width: 110px;
    height: 110px;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 95px;
}

.admin-functionalities img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    /* margin-left: 100px; */
    margin-bottom: 35px;
}

.functionality-menu{
    margin-top: 40px;
}

.functionality-menu ul li{
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #2f3640;
    font-size: 18px;
    border-left: 3px solid #353b48;
}

.active-service,
.functionality-menu ul li:hover{
    border-left: 3px solid #2ecc71 !important;
}

.functionality-menu ul li a{
    color: #ffffff;
    margin-left: 15px;
}

.functionality-menu ul li:last-child{
    border-bottom: 1px solid #2d3436;
}

.functionality-desc{
    width: 75%;
    /* background-color: #dcdde1; */
}

.applicants{
    margin-top: 15px;
    /* font-size: 15px; */
}

/* .open_cv:hover,.open_cv a:hover{
    background: #34495e;
    color: #fff;
    transition: ease-in-out 0.6s;
} */
.applicants{
    float: right;
    color: #2980b9;
    font-size: 21px;
}
/* #notify,#interview{
    background: #2980b9;
    color: #fff;
    cursor: pointer;
}
#notify:hover,#interview:hover,.winner:hover{
    background: #95a5a6;
    color: #fff;
    transition: ease-in-out 0.6s;
} */
#contact{
  display: none;
}

/* .winner{
    background: #27ae60;
    color: #fff;
    cursor: pointer; 
    text-decoration: none;
} */
.textarea{
    padding: 1em;
    font-family: 'Saira condensed';
}
