*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none !important;
}

.nav{
    width: 100%;
    background: #000000;
}

.logo{
    padding: 10px;
    margin-left: 30px;
}

.logo p{
    color: thistle;
    font-size: 30px;
    font-style: italic;
}

.logo p span{
    color: royalblue;
    font-size: 33px;
}

.nav-buttons{
    /* float: right; */
    margin-left: 700px;
    margin-top: 25px;
}

.nav-buttons ul{
    display: flex;
    list-style: none;
}

.nav-buttons ul li{
    padding-left: 15px;
}

.nav-buttons ul li a{
    color: #ffffff;
    font-size: 18px;
}

.active-nav-btn a{
    color: #2ecc71 !important;
}
.nav-buttons ul li a:hover{
    color: #2ecc71 !important;
}

.mainbody{
    display: flex;
    width: 100%;
}

.functionalities{
    width: 25%;
    background-color: #353b48;
    height: 100em;
}

.admin-functionalities{
    width: 110px;
    height: 110px;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 85px;
}

.admin-functionalities img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    /* margin-left: 100px; */
    margin-bottom: 15px;
}

.functionality-menu{
    margin-top: 40px;
}

.functionality-menu ul li{
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #2f3640;
    font-size: 18px;
    border-left: 3px solid #353b48;
}

.active-service,
.functionality-menu ul li:hover{
    border-left: 3px solid #2ecc71 !important;
}

.functionality-menu ul li a{
    color: #ffffff;
    margin-left: 15px;
}

.functionality-menu ul li:last-child{
    border-bottom: 1px solid #2d3436;
}

.functionality-desc{
    width: 75%;
    /* background-color: #dcdde1; */
}

.comp_title{
width: 851px;
height: 64px;
background: #34495E;
margin-left: 3em;
margin-top: 1em;
}
.comp_title h1{
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-family: 'Saira Condensed', sans-serif;
}
.comp_desc{
    margin-left: 2em;
    margin-top: 1em;
    width: 851px;
    background: #bdc3c7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1em;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 23px;
}

.comp_task{
    font-size: 23px;
    color: #fff;
}
.ceo{
    color: #27AE60;
    margin-top: 2em;
}
.ceo span{
    color: #34495e;
    text-decoration: 1px solid #34495e;
}
.ceo span:hover{
    cursor: pointer;
    color: #34495e;
    text-decoration: underline;
}
.emp{
    color: #27AE60; 
    margin-top: -0.5em
}
.emp span{color: #34495e}
.emp span:hover{color: #34495e;cursor: pointer;text-decoration: underline;}
.newpost{
    color: #fff;
    background: #34495E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 218px;
    height: 51px;
    margin-top: 1em;
    margin-left: 42.6em;
    border: none;
}
.newpost:hover{
    background: #bdc3c7;
    color:#34495e;
    transition: ease-in-out 0.4s; 
}
.post-container{
    margin-left: 12em;
    margin-top: 2em;
    width: 633px;
    height: 488px;
    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 4em;
    display: none;
}
.post-container h1{
    font-size: 28px;
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 900;
    padding-top: 1em;
}
.post-name{
    width: 503px;
height: 59px;
background: #FFFFFF;
margin-left: 2em;
border: none;
border-radius: 10px;
outline: none;
padding-left: 10px;
}
.post-desc{
    width: 503px;
height: 138px;
background: #FFFFFF;
margin-left: 2em;
border: none;
border-radius: 10px;
outline: none;
padding: 2em;margin-top: 2em;
}
.more{
    width: 503px;
height: 57px;
background: #34495E;
color: #fff;
font-family: 'Saira Condensed', sans-serif;
font-size: 25px;
border: none;border-radius: 5px;margin: 1em;padding: 0.4em;
}
.close-button{
    width: 176px;
    height: 46px;
    background: #95a5a6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    font-weight: 700;
    border: none;margin-left: 1.5em;
}
#submit{
width: 176px;
height: 46px;
color: #fff;
font-weight: 700;
border: none;margin-right: 6.5em;
background: #34495E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
float: right;
}
#submit:hover,.close-button:hover{
    background: #95a5a6;
    color: #34495E;
    transition: ease-in-out 0.6s;
}
.profile{
margin-top: 2em;
margin-left: 1em;
width: 951px;
height: 500px;
padding-bottom: 3em;
background: #C4C4C4;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.profile_pic img{
   border: none;
   border-radius: 50%;margin: 1em;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.profile_pic .profile,.update{
width: 199px;
height: 45px;
color: #fff;
font-weight: 300;
border: none;
padding: 0.5em;
padding-left: 3em;
background: #27AE60;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.profile_pic .profile:hover,.update:hover{
    background: #bdc3c7;
    color: #2f3640;
    font-weight: 500;
    transition: ease-in-out 0.6s;
}
.profile_pic{
    float: left;
}
.other_profiles{
    float: right;
    font-size: 15px;
    margin-right: 16em;
}
.other_profiles input{
    padding: 1em;
    border: none;
    border-radius: 12px;
    outline: none;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}