*{
    padding: 0;
    margin: 0;
    /* color: #ecf0f1; */
}

a{
  text-decoration: none !important;
}

/* Navigationbar */

.nav{
    width: 100%;
    /* background-color: #bdc3c7; */
    background-color: #ffffff;
}

.back-home{
    padding: 20px;
}

.back-home a{
    text-decoration: none;
    padding: 10px;
    color: #34495e;
    border: 1px solid #636e72;
}

.back-home a:hover{
    background-color: transparent;
    border: 1px solid #000000;
    color: #000000;
}

.nav-buttons{
    /* position: absolute;*/
    float: right; 
    margin-top: 20px;
    margin-left: 990px;
  }
  
  .nav-buttons a{
    text-decoration: none;
    padding: 12px;
  }
  
  .nav-buttons a:first-child{
    background-color: transparent;
    border: 1px solid #596275;
    color: #596275;
    border-radius: 3px;
    position: absolute;
    top: 7px;
    right: 151px;
  }
  
  .nav-buttons a:first-child:hover{
    background-color: transparent;
    border: 1px solid #000000;
    color: #000000;
    border-radius: 3px;
  }
  
  .nav-buttons a:last-child{
    background-color: #2980b9;
    border-radius: 3px;
    color: #ffffff;
    position: absolute;
    top: 7px;
    right: 60px;
  }
  
  .nav-buttons a:last-child:hover{
    background-color:  #34495e;
    border-radius: 3px;
    color: #ffffff;
  }

/* End navigation Bar */

/* simple discription */

.description{
  background-image:linear-gradient(to right, rgba(30, 39, 46,1.0),rgba(0,0,0,0)),url(../images/default-desc-about.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* height: 500px; */
  height: 100vh;
  width: 100%;
}

.siple-description h2{
  /* text-align: center; */
  /* color: #4cd137; */
  color: #ffffff;
  font-size: 35px;
  letter-spacing: 1px;
  line-height: 2px;
  margin-top: 200px;
  font-family: 'sans serif';
  /* font-style: italic; */
  display: block;
  margin-left: 35px;
  padding-bottom: 30px;
}

.siple-description p{
  font-size: 16px;
  color: #ffffff;
}

/* End simple description */

/* vision*/

.about-company{
  background-color: #dcdde1 !important;
}

.about-company h3{
  color: #2c3e50;
}

.about-company .col-md-5{
  margin-left: 40px;
  margin-right: 50px;
}

.more-about{
  background: #ffffff !important;
  padding: 20px;
  margin-top: 30px;
  line-height: 20px;
  position: relative;
  color: #8e8b8b;
  /* box-shadow: 0px 0px 15px rgba(0,0,0,.3); */
}

.more-about p>span{
  display: block;
  margin-left: 20px;
}

.vision{
  background: #ffffff !important;
  padding: 20px;
  margin: 30px 10px;
  line-height: 20px;
  position: relative;
  color: #8e8b8b;
  /* border-radius: 5px;
  -webkit-border-radius:10px;
  -moz-border-radius: 10px; */
  box-shadow: 0px 0px 15px rgba(0,0,0,.3);
}


.mission{
  background: #ffffff !important;
  padding: 20px;
  margin: 30px 10px;
  /* margin: 30px 0px 30px 80px; */
  line-height: 20px;
  position: relative;
  color: #8e8b8b;
  box-shadow: 0px 0px 15px rgba(0,0,0,.3);
}

.services{
  background: #ffffff !important;
  padding: 20px;
  margin: 30px 10px;
  /* margin: 30px 0px 30px 80px; */
  line-height: 20px;
  position: relative;
  color: #8e8b8b;
  box-shadow: 0px 0px 15px rgba(0,0,0,.3);
}
/* End vision*/

/* Back to top bottom */
.back-top i{
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* background: linear-gradient(rgba(241, 196, 15,1.0),rgba(41, 128, 185,1.0),rgba(46, 204, 113,1.0)); */
  background: #2980b9;
  color: #ffffff;
  font-size: 18px;
  padding: 15px;
  /* border-radius: 50%; */
}
  
.back-top i:hover{
  background: #003326;
  transition: 3s;
}

/* End back to top */
