*{
    padding: 0;
    margin: 0;
}

a{
  text-decoration: none !important;
}

button:focus{
  outline: none;
  border: none;
}
/* Navigationbar */

.nav{
    width: 100%;
    background-color: #ffffff;
}

.logo{
    padding: 10px;
    padding-left: 70px;
    /* padding-top: 30px; */
}
  
.logo a{
    text-decoration: none;
    color: #7f8c8d;
    font-size: 30px;
    font-style: oblique;
    letter-spacing: -.5px;
}

.logo p>span{
  font-size: 30px;
  color: #2980b9;
}
 
.logo p:hover{
  color: #596275 !important;
}

.search{
  margin: auto;
  margin-right: 350px;
}

.search_box{
  /* background: #bdc3c7; */
  background: #ecf0f1;
  opacity: .8;
  border-radius: 3px;
  font-size: 14px;
}

.search_box input{
  width: 350px;
  padding: 5px;
  background: transparent;
  border: none;
}

.search_box input:focus{
  outline: none;
}

.search_box i{
  padding: 10px;
  color: #2980b9;
  /* opacity: none !important; */
}

.search_box i:hover{
  padding: 10px;
  background-color: #2980b9;
  color: #ffffff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.nav-buttons{
  margin-top: 25px;
  margin-right: 15px;
}

.nav-buttons a{
  text-decoration: none;
  padding: 12px;
}

.nav-buttons a:first-child{
  background-color: transparent;
  border: 1px solid #596275;
  color: #596275;
  border-radius: 3px;
}

.nav-buttons a:first-child:hover{
  background-color: transparent;
  border: 1px solid #000000;
  color: #000000;
  border-radius: 3px;
}

.nav-buttons a:last-child{
  background-color: #2980b9;
  border-radius: 3px;
  color: #ffffff;
}

.nav-buttons a:last-child:hover{
  background-color:  #34495e;
  border-radius: 3px;
  color: #ffffff;
}

/* End Navigationbar */

/* Simple descriptions */

.simple-desc{
  /* background-image: linear-gradient(to right,rgba(26, 188, 156,0.5),rgba(52, 152, 219,0.5)), url(../images/home-background.jpeg); */
  background-image: linear-gradient(to right, rgb(10, 13, 15),rgba(0,0,0,0.2)), url(../images/home-background.jpeg); 
  /* background-image: url(../images/default-desc.jpeg); */
  background-position: center;
  background-size: cover;
  width: 100%;
  /* height: 500px; */
  height: 100vh;
}

.simple-desc h3{
  padding-top: 200px;
  padding-left: 50px;
  color: #ffffff;
  font-weight: 500;
  font-size: 45px;
  display: block;
}

.simple-desc p{
  padding-top: 10px;
  padding-left: 50px;
  font-size: 17px;
  color: #ffffff;
  width: 550px;
  display: block;
}

/* .desc_search_box{
  background: #dcdde1;
  border-radius: 3px;
  width: 500px;
  margin-top: 30px;
  margin-left: 50px;
  font-size: 20px;
}

.desc_search_box input{
  width: 450px;
  padding: 5px;
  margin-right: 4px;
  background: transparent;
  border: none;
}

.desc_search_box input:focus{
  outline: none;
}

.desc_search_box i{
  padding: 10px;
  color: #2980b9;
}

.desc_search_box i:hover{
  padding: 10px;
  background-color: #2980b9;
  color: #ffffff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
} */

.explore-more button{
  margin-left: 150px;
  margin-top: 20px;
  color: #ffffff;
  /* background: linear-gradient(to right, #130f40,#fbc531,#130f40); */
  background: #182C61;
  border: none;
  padding: 10px;
  border-radius: 3px;
}

.explore-more button:hover{
  margin-left: 150px;
  margin-top: 20px;
  color: #ffffff;
  background: #0a3d62;
  border: none;
  padding: 10px;
  border-radius: 3px;
}


/* End simple descriptions */

/* availabale spaces like users companies */

.space{
  height: 125px;
  background-color: #2c3e50;
}

.companies{
  color: #ffffff;
  margin-left: 55px;
  padding-top: 25px;
}

.companies i{
  font-size: 25px;
  padding-left: 30px;
  display: block;
}

.companies div h4>span{
  display: block;
  font-size: 20px;
  /* padding-top: -10px; */
}

.users{
  position: absolute;
  color: #ffffff;
  margin-left: 300px;
  margin-top: -90px;
}

.users i{
  font-size: 25px;
  padding-left: 30px;
  display: block;
}

.users div h4>span{
  display: block;
  font-size: 20px;
  /* padding-top: -10px; */
}

.job-oportunities{
  position: absolute;
  color: #ffffff;
  margin-left: 550px;
  margin-top: -90px;
}

.job-oportunities i{
  font-size: 25px;
  padding-left: 30px;
  display: block;
}

.job-oportunities div h4>span{
  display: block;
  font-size: 20px;
  /* padding-top: -10px; */
}

/* End Available spaces */

/* Available companies */

.available{
  margin-top: 15px;
}

.latest{
  border: 1px solid #95afc0;
  margin-left: 10px;
  width: 900px;
  border-radius: 5px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.available h3{
  margin-left: 40px;
  margin-bottom: 10px;
}

.available-job{
  margin-left: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #95afc0;
  margin-top: 10px;
}

.available-job:hover{
  background-color: #ecf0f1;
  /* margin-top: none !important; */
}

.available-job:last-child{
  border: none !important;
}

.available-job img{
  width: 150px;
  height: 150px;
}

.available-job a{
  text-decoration: none;
  color: #34495e;
  font-size: 20px;
}

.location-position{
  position: absolute;
  display: block;
  margin-left: 155px;
  margin-top: -120px;
}

.available-job span i{
  padding-right: 3px;
  color: #e67e22;
}

.available-job a:hover{
  color: #3498db;
}

.apply-btn{
  float: right;
  margin-right: 20px;
  margin-top: 70px;
}

.apply-btn a{
  text-decoration: none !important;
  text-transform: uppercase;
  background-color: #2980b9;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #3498db;
}

.apply-btn a:hover{
  text-transform: uppercase;
  background-color: #2c3e50;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  border: 1px solid #34495e;
  border-radius: 5px;
}

.view-all{
  margin-bottom: 15px;
}

.view-all a{
  text-decoration: none !important;
  margin-left: 350px;
  text-transform: uppercase;
  background-color: #e67e22;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  border: 1px solid #f1c40f;
  border-radius: 5px;
}

.view-all a:hover{
  margin-left: 350px;
  text-transform: uppercase;
  background-color: #f39c12;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  border: 1px solid #f1c40f;
  border-radius: 5px;
}

/* End Available companies */

/* Jobs by considreions */
.jobs-by-category{
  float: right;
  margin-right: 30px;
  margin-top: -600px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #2c3e50;
  margin-bottom: 15px;
}

.jobs-by-category h2{
  padding: 15px;
  font-weight: 50;
  font-size: 20px;
  text-align: center;
  background: #34495e;
  color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.works-by-given ul{
  list-style-type: none;
  padding-top: 10px;
  margin-left: 15px;
}

.works-by-given ul li{
  padding-top: 5px;
}

.works-by-given a{
color: #797979;
text-decoration: none;
text-decoration-line: none;
text-decoration-style: initial;
text-decoration-color: initial;
}

.works-by-given a:hover{
  color: #3498db;
}

.works-by-given span{
  color: #23c0e9;
}


.works-by-given li:last-child a,
.works-by-given li:last-child i{
  font-size: 14px;
    font-weight: bold;
    color: #23c0e9;
    text-transform: uppercase;
}

.jobs-by-location{
  float: right;
  margin-right: 30px;
  margin-top: -300px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #2c3e50;
  margin-bottom: 15px;
}

.jobs-by-location h2{
  padding: 15px;
  font-weight: 50;
  font-size: 20px;
  text-align: center;
  background: #34495e;
  color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* End jobs by given */


/* session with class users-here */
.users-here{
	padding-top: 150px;
	padding-top: 50px;
  background: #efefef;
}

.users-here h1{
  text-align: center;
}

.user-review{
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 100, 0.2);
  padding-bottom: 50px;
}

.user-review p{
  padding: 50px 10px 10px 10px;
}

.users-here img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  margin: -30px 0 20px 40%;
  box-shadow: 0 0 7px #1818187a;
}

.user-review p::before{
  content: '\201d';
  display: block;
  position: absolute;
  font-size: 100px;
  color: #6495ed;
  font-family: sans-serif;
  left: 44%;
  top: -20px;
}

/* end session users-here */

/* Back to top button */
.back-top i{
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* background: linear-gradient(rgba(241, 196, 15,1.0),rgba(41, 128, 185,1.0),rgba(46, 204, 113,1.0)); */
  background: #2980b9;
  color: #ffffff;
  font-size: 18px;
  padding: 15px;
  /* border-radius: 50%; */
}

.back-top i:hover{
  background: #003326;
  transition: 3s;
}

/* End Back to top button */

/* Styles for booking and geting workspace */
.get-your-space{
  padding: 50px 0;
}

.book-your-space{
  padding-top: 25px;
  padding-right: 20px;
  padding-bottom: 25px;
  border-right: 1px solid #718093;
}

.book-your-space h3{
  text-transform: uppercase;
  font-size: 20px;
  color: #57606f;
  text-align: center;
}

.book-your-space p{
  display: block;
  width: 350px;
  margin-left: 75px;
}

.book-your-space button{
  background-color: #130f40;
  color: #ffffff;
  border: 1px solid #3742fa;
  padding: 10px;
  border-radius: 3px;
  margin-left: 170px;
}

.book-your-space button:hover{
  background-color: #1C217C;
  /* background-color: #1C217C; */
  border:1px solid  #2980b9;
  transition: 2s;

}

.get-workspace{
  padding-top: 25px;
  padding-right: 20px;
  padding-bottom: 25px;
}

.get-workspace h3{
  text-transform: uppercase;
  font-size: 20px;
  color: #57606f;
  text-align: center;
}

.get-workspace p{
  display: block;
  width: 350px;
  margin-left: 75px;
}

.get-workspace button{
  background-color: #130f40;
  color: #ffffff;
  border: 1px solid #3742fa;
  padding: 10px;
  border-radius: 3px;
  margin-left: 170px;
}

.get-workspace button:hover{
  background-color: #1C217C;
  /* background-color: #1C217C; */
  border:1px solid  #2980b9;
  transition: 2s;

}

/* End workspace */

/* Confrime your email */

.confirm-email{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.confirm-contet{
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.confirm-header {
  background: var(--modal-color);
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

/* End confrim your email  */
